<!--JavaScript Section -->
<script src="Scripts/lib/jquery/dist/jquery.min.js"></script>
<script src="Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="Scripts/app.js"></script>
</body>
<br>
<br>
<br>
<center><div data-role="footer" data-position="fixed">
  <a href="https://twitter.com/sakibpatel22">
<br><img title="Twitter" alt="Twitter" src="images/twitter.png" width="45" height="45" />
</a>
<a href="http://iconosquare.com/sakib717">
<img title="Insta" alt="Instagram" src="images/insta.jpg" width="45" height="45" />
</a>
<a href="https://ca.linkedin.com/in/sakibpatel">
<img title="linkedin" alt="LinkedIn" src="images/linkedin.png" width="45" height="45" />
</a>
<a href="https://www.facebook.com/sakib.patel.71">
<img title="Facebook" alt="Facebook" src="images/fb.png" width="45" height="45" />
</a>
<a href="https://github.com/sakib717">
<img title="GitHub" alt="GitHub" src="images/github.png" width="45" height="45" />
</a>
  </div></center>
</html>