<% include partials/header.ejs %>
<!--<head>

</head>-->

<!--Main Content-->
    <main class="container">

        <h1><%= title %></h1>
        <p>SECTION - 
            <p><b>About Sakib Patel:</b></p>
            <div style="float: right;"><IMG SRC="images/congo1.jpg" align="right" width="580" height="310"></div>
            <p><b>Sakib is from the Dem. Republic of the Congo.
            <p>Born and brought up as an NRI, life was very different
            <p>and difficult in the Congo. After years of studying in 
            <p>school with subjects and courses that were not of his choice,
            <p>It was time to make a decision. His dream was to become a Programmer.
            <p>As a beginner in Computer Programming, there are things that Sakib 
            <p>finds difficult, but the passion of being an absolute professional
            <p>drives Sakib's determination to accept the challenges!
            Keep navigating to Discover!</b></p>
           <p>_________________________________________</p>
     <img title="CONGO" alt="CONGO" src="images/congo2.jpg" width="65" height="45" /> -
     <img title="CANADA" alt="CANADA" src="images/canada.jpg" width="65" height="45" /> -
      <img title="Georgian College" alt="Georgian College" src="images/georgian.png" width="65" height="45" /> -
     <img title="INDIA" alt="INDIA" src="images/india.jpg" width="65" height="45" /> 
       <b><p align="right">Kinshasa, Dem. Republic of the Congo.</p></b>
</a>
        </p>
    </main>
<% include partials/footer.ejs %>