<% include partials/header.ejs %>
<!--<head>

</head>-->
     <!--Main Content-->
    <main class="container">

        <h1><%= title %></h1>
        <p>SECTION - 
            <p><b>Welcome To  My Portofolio:</b></p>
            
            <img src="images/terminate.jpg" alt="Sakib Patel" align="right" width="650" height="310">
            <p><b>Over here in this short, and simple website,
            <p>You will find out about Sakib Patel. You will find out
            <p>about his experience and skills to give you 
            <p>the answer to your question of why is he worth
            <p>to be a programmer. Navigate through the pages
            <p>to learn more about Sakib!</b></p>
        <p>_________________________________________</p>
    <img title="CONGO" alt="CONGO" src="images/congo2.jpg" width="65" height="45" /> -
     <img title="CANADA" alt="CANADA" src="images/canada.jpg" width="65" height="45" /> -
      <img title="Georgian College" alt="Georgian College" src="images/georgian.png" width="65" height="45" /> -
     <img title="INDIA" alt="INDIA" src="images/india.jpg" width="65" height="45" /> 
</a>
        </p>
    </main>
<% include partials/footer.ejs %>
   