<% include partials/header.ejs %>
<!--<head>

</head>-->
     <!--Main Content-->
    <main class="container">

        <h1><%= title %></h1>
        <p>SECTION - 
            <p><b>My Projects:</b></p>
           
<img src="images/calculator.jpg" alt="Binary Calculator" align="right" width="350" height="250">
<img src="images/lego.jpg" alt="Lego-Robot" align="right" width="350" height="250">

            <p><b>This page includes two of the 
            <p>fun projects that Sakib has made.
            <p>These projects were released on February 17th, 2015.
            <p>A "Dancing Lego-Robot" and "Binary Calculator"
            <p>1- The Dancing Lego-Robot was
            <p>part of an In-Class Lab, in which the whole
            <p>classroom took part in this project and made the robots
            <p>dance together in a "Robo Flash Mob"...
                    <br>
            <p>2-The Binary Calculator converts Numbers and Letters
            <p>into Binary Language, and calculates them according to the inputs.
            
                 <b><p align="right">Lego-Robot__________________________________|_____________________________Binary Calculator</p></b>
            </b></p>
    <p>_________________________________________</p>
    <img title="CONGO" alt="CONGO" src="images/congo2.jpg" width="65" height="45" /> -
     <img title="CANADA" alt="CANADA" src="images/canada.jpg" width="65" height="45" /> -
      <img title="Georgian College" alt="Georgian College" src="images/georgian.png" width="65" height="45" /> -
     <img title="INDIA" alt="INDIA" src="images/india.jpg" width="65" height="45" /> 
</a>
        </p>
    </main>
<% include partials/footer.ejs %>
   