<% include partials/header.ejs %>
<!--<head>
<link rel="stylesheet" type="text/css" href="app.css">
</head>-->
     <!--Main Content-->
    <main class="container">

        <h1><%= title %></h1>
        <p>SECTION - 
            <p><b>My Services:</b></p>
         <p><b>While studying in Georgian College of Applied Arts and Technology, 
         <p>Sakib has developed his skills within alot of concepts. Anyone trying to precisely know what Sakib's
         <p>skills and proficiencies are in, take a look at the progress bars below to know exactly what you want
         <p>to expect from him...</b></p>
         <br>
         <center><b>CSS</b></center>
   <div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100" style="width: 97%">
    <span class="sr-only">97% Complete</span>
  </div>
   </div>
   <br>
    <center><b>HTML</b></center>
   <div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    <span class="sr-only">100% Complete</span>
  </div>
   </div>
    <br>
    <center><b>PHP</b></center>
   <div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
    <span class="sr-only">80% Complete</span>
  </div>
   </div>
   <br>
   <center><b>Database Creation (SQL)</b></center>
   <div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100" style="width: 92%">
    <span class="sr-only">92% Complete</span>
  </div>
   </div>
    <br>
   <center><b>JAVA Programming</b></center>
   <div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
    <span class="sr-only">85% Complete</span>
  </div>
   </div>
     <br>
   <center><b>Microsoft Proficiency</b></center>
   <div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    <span class="sr-only">100% Complete</span>
  </div>
   </div>
   <br>
   <center><b>Arduino Tech</b></center>
   <div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
    <span class="sr-only">95% Complete</span>
  </div>
   </div>
    <br>
   <center><b>Other Programming Languages and Computer Aspects</b></center>
   <div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%">
    <span class="sr-only">55% Complete</span>
  </div>
   </div>
    <p>_________________________________________</p>
    <img title="CONGO" alt="CONGO" src="images/congo2.jpg" width="65" height="45" /> -
     <img title="CANADA" alt="CANADA" src="images/canada.jpg" width="65" height="45" /> -
     <img title="Georgian College" alt="Georgian College" src="images/georgian.png" width="65" height="45" /> -
     <img title="INDIA" alt="INDIA" src="images/india.jpg" width="65" height="45" /> 
</a>
        </p>
    </main>
<% include partials/footer.ejs %>